#header_top {
  height: $headerTopHeight;


  .header_navbar_top{
    height: $headerTopNavbarHeight;
    @include flexCenter;
    justify-content: flex-end;
    background-color: $headerBackGround;

    &_list{

      @include listInLine;
      li {
        padding: 0 5px;
        a {
          color: $lightGrey;
          text-decoration: none;

          i{
            color: $iconBlu;
            padding-right: 8px;
          }
        }

        &:hover a {
          color: #fff;
          text-decoration:underline;
        }
      }


      #header_navbar_top_list_language{
        height: 25px;
        width: 75px;
      }
    }
  }

  .header_main_navbar{
    height: $headermainNavbarHeight;
    background-color: $headerBackGround;
    @include flexCenter;

    &_list{
      @include listInLine;
      li {
        padding: 0 5px;

        a {
          color: #fff;
          text-decoration: none;

          i{
            font-size: 13px;
            color: $lightGrey;
          }
        }
        &:hover{
          background-color: #fff;
        }

        &:hover a {
          color: $lightGrey;

        }
      };
    }
    &_logo{
      margin-right: 10px;
    }
  }
}
