#header_top {
  height: $headerTopHeight;


  .header_navbar_top{
    height: $headerTopNavbarHeight;
    @include flexCenter;
    background-color: green;

    .header_navbar_top_list{

      @include listInline;
      li {
        padding: 0 5px;
      }

      #header_navbar_top_list_language{
        height: 25px;
        width: 75px;
      }
    }
  }

  .header_main_navbar{
    height: $headermainNavbarHeight;
    background-color: red;
  }
}

// HEADER MIDDLE
#header_middle {
  height: $headerMiddleHeight;
  background-color: purple;
}
