// LAYOUT HEIGHTS
// HEADER
$headerTopHeight : 100px;
$headerBackGround : #101010;
// top
$headerTopNavbarHeight : 50px;
$headermainNavbarHeight : 50px;
// /top

// middle
$headerMiddleHeight : 400px;
// /middle

// /HEADER

// MAIN

// /MAIN

// FOOTER
$footerHeight : 100px;
// /FOOTER


// TEXT color
$softGrey : #DCDCDC;
$lightGrey : #989898;

// ICON COLOR
$iconBlu : #059CFF;
$iconLightGrey : #989898;

// BUTTON
$lightGreyButton : #989898;
$darkGreyButton : #909090;
