// LAYOUT HEIGHTS
// HEADER
$headerTopHeight : 100px;
// top
$headerTopNavbarHeight : 50px;
$headermainNavbarHeight : 50px;
// /top

// middle
$headerMiddleHeight : 400px;
// /middle

// /HEADER

// MAIN

// /MAIN

// FOOTER
$footerHeight : 100px;
// /FOOTER
